.contact-form--wrap {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 30px;
  margin-right: 200px;
  margin-bottom: 50px;
}

.input {
  width: 400px;
  height: 35px;
  padding: 18px;

  /* outline: none; */

  /* outline-color: #e64551; */
  border-radius: 5px;
  box-shadow: 1px 5px 6px 3px rgb(213, 218, 223);
}

.input:hover {
  border: 1px solid #e64551;
}

.input-text-area {
  height: 150px;
}

.left-side--form {
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 120px;
}

@media only screen and (max-width: 420px) {
  .form {
    margin-right: 39px;
  }

  .number-text--form {
    font-size: 30px;
  }

  .question-contact {
    font-size: 30px;
    letter-spacing: 0.1px;
    padding-bottom: 50px;
  }

  .input {
    width: 300px;
  }
}
