.left-side--passion {
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
}

.question {
  color: #020b16;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 4px;
}

.horizontal--line-black {
  width: 50px;
  height: 2px;
  border-radius: 2px;
  background-color: #020b16;
  position: relative;
  top: 25px;
}

.passion {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #fff;
  padding-top: 70px;
}

.passion-info {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 40px;
  margin: 50px;
}

.design {
 padding-bottom: 30px;
}

.react-icon {
  width: 170px;
  height: 170px;
  border-radius: 130px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-image: linear-gradient(to right, rgb(56,36,87), rgb(155,47,117), rgb(250,76,92));
}

.design-paragraph {
  color: #9ca0a3;
  width: 350px;
  padding-top: 12px;
  line-height: 1.7;
}

.heading-ternary {
  color: #072142;
}