.skills {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  padding-top: 70px;
}

.left-side--skills {
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
}

.question {
  color: #020b16;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 4px;
}

.horizontal--line-black {
  width: 50px;
  height: 2px;
  border-radius: 2px;
  background-color: #020b16;
  position: relative;
  top: 25px;
}

.number-text--about {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.3rem;
  font-weight: 600;
  color: #ff4d5a;
}

.skills-left--side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  padding-bottom: 80px;
}

.skill-percent {
   display: flex;
   gap: 20px;
   justify-content: baseline;
}

.skill-paragraph {
  color: #020b16;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.span-years {
  color: #9ca0a3;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 2;
}

/* .skill-icon {
  width: 160px;
  height: 160px;
} */

.top-precent {
  display: flex;
  justify-content: space-between;
}

.percent-frame {
  width: 500px;
}

.line-skills--percent {
  width: 500px;
  height: 15px;
  border-radius: 9px;
  position: relative;
  box-shadow: 1px 5px 6px 3px rgb(213,218,223);
}

.progress-line {
  width: 90%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  background-image: linear-gradient(to right, rgb(56,36,87), rgb(155,47,117), rgb(250,76,92));
}

.percent {
  color: #ff4d5a;
}

.footer {
  width: 100vw;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgb(56,36,87), rgb(155,47,117), rgb(250,76,92));
}

.mail {
  color: #fff;
  text-decoration: none;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 5;
}

.mail:hover {
  color: #c3c8cc;
}
